body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* MAIN LAYOUT */

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* LEFT SIDE - MAP */

#map-container {
  position: relative;
  width: 70%;
  height: 100%;
  background: #111;
}

#map-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* MARKERS */

.marker {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 28px;
  cursor: pointer;
  z-index: 10;
}

/* RIGHT SIDE - INFO PANEL */

#info-panel {
  width: 30%;
  height: 100%;
  background: #1e1e1e;
  color: white;

  padding: 20px;
  box-sizing: border-box;

  overflow-y: auto;
}

#info-panel img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

#info-title {
  margin-top: 0;
}